<html>
    <head>
        <title>ForumSystem-Home</title>
    </head>
    <body>
        <header>
            <div>
                <h3>
                    <a href="/Home/Index">Home</a>
                |<a href="/Forum/Index">Forum</a>
                </h3>
            </div>
        </header>
        <h2>Heading</h2>
        <div>Div</div>
        @{

        }
    </body>
    
</html>