<html>
<head>
    <title>ForumSystem-Home</title>
    <style>
        body {
            background-image: url('https://i.imgur.com/Y4HIC31.jpg');
            background-size: cover; 
            background-repeat: no-repeat; 
            background-attachment: fixed; 
            background-position: center; 
        }
    </style>
</head>
<body>
    <header>
        <div>
            <h3>
                <a href="/Home/Index">Home</a>
                | <a href="/Forum/Index">Forum</a>
            </h3>
        </div>
    </header>
    <h2>Welcome to the BMW Enthusiasts Forum</h2>
    <div>Enjoy your stay</div>
    @{
        
    }
</body>
</html>