    
    *{margin:0;
      padding:0;
    }
    .form-inline .input-group .form-control,
    .form-inline .input-group .input-group-append .btn {
    margin-left: 9px; /* Space between button and bar */
}

    .navbar .navbar-collapse {
    position: relative;
    }

    .navbar .navbar-collapse .button-container {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .navbar-nav .nav-item .nav-link.active {
    position: relative;
}

    .navbar-nav .nav-item .nav-link.active::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px; /* Adjust this value to move the underglow up or down */
        height: 3px; /* Thickness of the underglow */
        background-color: #00ff00; /* Color of the underglow */
        border-radius: 2px;
        font-weight: bold;
    }

    .left-aligned-content
        {
           text-align:left; 
        }

    .round-btn {
    border-radius: 50%; /* Makes the button circular */
    padding: 10px; /* Adjust padding to maintain circular shape */
    width: 40px; /* Sets a fixed width */
    height: 40px; /* Sets a fixed height to match the width, making it circular */
    display: inline-flex; /* Using flex to center the icon inside the button */
    align-items: center; /* Centers the icon vertically */
    justify-content: center; /* Centers the icon horizontally */
}

    .custom-rounded-corners {
        border-radius: 25px !important; /* This value makes the input more rounded. Adjust as needed */
    }

header {
    position: sticky;
    top: 0;
    z-index: 300;
    height: 100%;
}

.sticky-top {
  
    top: 20%; /* Adjust this value as needed, particularly if you have a fixed header/navbar */
    z-index: 200; /* Ensures the sidebar is above other elements but below fixed components like modals */
    height: 100%; /*regulating*/
}

.custom-control-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-control-label {
    position: relative;
    cursor: pointer;
    padding-left: 55px;
    display: inline-block;
}

    .custom-control-label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 45px;
        height: 25px;
        background-color: #ccc;
        border-radius: 15px;
    }

    .custom-control-label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
    }

.custom-control-input:checked + .custom-control-label:before {
    background-color: #007bff;
}

.custom-control-input:checked + .custom-control-label:after {
    transform: translateY(-50%) translateX(20px);
}

.btn.active, .btn.active:hover, .btn.active:focus {
    background-color: #007bff;
    border-color: #0056b3; 
    color: white;
}











